* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4e8d3;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #8f570a;
    color: #fff;
    padding: 1.5rem 2rem;
}

.header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #18bc9c;
}


.grid-container {
    display: grid;
    grid-template-columns: 3fr 1fr; 
    grid-template-areas: "main sidebar";
    gap: 20px;
    padding: 20px;
    flex-grow: 1; 
}

.main-content {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sidebar {
    grid-area: sidebar;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    align-self: start;
}

.footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 1.5rem;
    width: 100%;
}

.projects-section h2 {
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; 
}

.card {
    background: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex: 1 1 calc(33.333% - 20px); 
    display: flex;
    flex-direction: column; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    height: 215px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    gap: 10px;
}

.card-content p {
    flex-grow: 1; 
    color: #666;
}

.card-content button {
    padding: 10px;
    background-color: #18bc9c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.card-content button:hover {
    background-color: #128f76;
}

.gallery-section h2 {
    margin-bottom: 20px;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); 
    gap: 15px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    aspect-ratio: 2 / 3; 
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.1); 
}

.gallery-item:hover .caption {
    opacity: 1; 
}